<?xml version="1.0"?>

<!--
Copyright (c) 2022, ARTEL ROBOTICS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->


<robot name="artel_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--Includes-->
  <xacro:include filename="$(find camel_urdf)/urdf/zed_macro.urdf.xacro" />
  

  <!--Arguments-->
  <xacro:arg name="robot_model"  default='Camel-1000'/>
  
  
  <!--Properties-->
  <xacro:property name="M_PI"     value="3.1415926535897931" />
  <xacro:property name="model"    value="$(arg robot_model)/" />
  <xacro:property name="baseline"     value="0.12" />
  <xacro:property name="optical_offset_x" value="-0.01" />
  
  <xacro:if value="${model == 'no/'}">
        <xacro:property name="model" value="" />
  </xacro:if>

  <!--Base_Footprint-->
  <link name="${model}base_footprint">
      <origin rpy="0 0 0" xyz="0 0 0"/>
  </link>


  <!-- base_link -->
  <joint name="base_footprint_joint_base_link" type="fixed">
      <parent link="${model}base_footprint"/>
      <child link="${model}base_link"/>
      <origin xyz="0.0 0.0 0.177902" rpy="0 0 0"/>
  </joint>

  <link name="${model}base_link">
        <origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}" />      
  </link>
  
  <!--Laser-->
  <joint name="base_link_laser_joint" type="fixed">
      <parent link="${model}base_link"/>
      <child link="${model}laser"/>
      <origin xyz="0.0 0.0 -0.10747" rpy="0 0 0"/>
  </joint>

  <link name="${model}laser">
      <origin xyz="0 0 0" rpy="0 0 0" />
  </link>


  <!--Left Wheel-->
  <joint name="base_link_left_wheel_joint" type="fixed">
      <parent link="${model}base_link"/>
      <child link="${model}left_wheel"/>
      <origin xyz="0.015 0.18 -0.068237" rpy="0 0 0"/>
  </joint>

  <link name="${model}left_wheel">
      <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
  </link>
  
  <!--Right Wheel-->
  <joint name="base_link_right_wheel_joint" type="fixed">
      <parent link="${model}base_link"/>t_
      <child link="${model}right_wheel"/>
      <origin xyz="0.015 -0.18 -0.068237" rpy="0 0 0"/>
  </joint>

  <link name="${model}right_wheel">
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />   
  </link>
  
  <!--Zed Front Camera Center-->
  <xacro:zed_camera name="${model}zed_front" model="zed2" parent="${model}base_link">
    <origin xyz="0.645 0 0" rpy="0 0 0" />
  </xacro:zed_camera>
 
  <!--Front Lidar-->
  <joint name="base_link_front_lidar_joint" type="fixed">
      <parent link="${model}base_link"/>
      <child link="${model}front_lidar"/>
      <origin xyz="0.555 -0.35 -0.10747" rpy="${M_PI} 0 ${-39*M_PI/180}"/>
  </joint>

  <link name="${model}front_lidar">
        <origin xyz="0 0 0" rpy="0 0 0" />        
  </link>

  <!--Back Lidar-->
  <joint name="base_link_back_lidar_joint" type="fixed">
      <parent link="${model}base_link"/>
      <child link="${model}back_lidar"/>
      <origin xyz="-0.55 0.33 -0.103231" rpy="${M_PI} 0 ${140*M_PI/180}"/>
  </joint>

  <link name="${model}back_lidar">
        <origin xyz="0.0 0.0 0" rpy="0 0 0" />        
  </link>

</robot>
